<%- include("partials/head", { bot, user, path, title: "Stats" }) %>
<link rel="icon"
    type="image/png"
    href="<%domain%>/logo.png">
    <body>

<link rel="stylesheet" href="<%domain%>/css/stats.css" />

 <div class="container">
  <% function capitalize(string) { return string.charAt(0).toUpperCase() + string.slice(1); } %>
   <h1 class="headerinfo">
    <%= capitalize(bot.user.username) %> bảng thông tin
   </h1>
   <div class="boxes">
    <div class="box box1">
     <div class="boxcontainter">
      <h3 class="boxheader">
       <%= bot.guilds.cache.size %>
      </h3>
      <p class="heading">Máy chủ</p>
     </div>
    </div>
    <div class="box box2">
     <div class="boxcontainter">
      <h3 class="boxheader">
       <%= bot.channels.cache.size %>
      </h3>
      <p class="heading">Tổng số kênh</p>
     </div>
    </div>
    <div class="box box3">
     <div class="boxcontainter">
      <h3 class="boxheader">
       <%= bot.guilds.cache.reduce((a, g)=> a + g.memberCount, 0) %>
      </h3>
      <p class="heading">Tổng số thành viên</p>
     </div>
    </div>
    <div class="box box4">
     <div class="boxcontainter">
      <h3 class="boxheader" title="[!] Đây là ping API Discord, không phải ping bot thực tế">
       <%= Math.round(bot.ws.ping) %>ms
      </h3>
      <p class="heading">Ping</p>
     </div>
    </div>
    <div class="box box1">
     <div class="boxcontainter">
      <h3 class="boxheader" title="[!] Approximate amout">
       Sớm có mặt!
      </h3>
      <p class="heading">Tổng số tin nhắn đã gửi</p>
     </div>
    </div>
    <div class="box box2">
     <div class="boxcontainter">
      <h3 class="boxheader" title="[!] Approximate amout">
       Sớm có mặt!
      </h3>
      <p class="heading">Tổng số lệnh đã gửi</p>
     </div>
    </div>
   </div>
   <hr>

<h1 class="headerinfo">Uptime</h1>
   <% totalSeconds=(bot.uptime / 1000); days=Math.floor(totalSeconds / 86400); totalSeconds %=86400;
    hours=Math.floor(totalSeconds / 3600); totalSeconds %=3600; minutes=Math.floor(totalSeconds / 60)
    seconds=Math.floor(totalSeconds % 60); %>

    <p class="uptime">
     <%= days %> ngày, <%= hours %> tiếng, <%= minutes %> phút, <%= seconds %> giây
    </p>
  
<style>

